h4 {
  font-family: 'Nunito', sans-serif;
}

p {
  font-family: 'Nunito Sans', sans-serif;
}

/* Favourites.js */

.favourites {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* RecipesList.js */

.favourite-item-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* RecipeListItem.js */

.favourite-item-card {
  width: 350px;
  height: 450px;
  display: flex; 
  flex-direction: column;
  position: relative;
  align-items: center; 
  justify-content: center;
}

.favourite-item-img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.favourite-card-info {
  background-color: rgba(136, 134, 134, 0.5);
  border-radius: 20px;
  padding: 8px 16px 8px 16px;
  display: flex;
  z-index: 2; 
  position: absolute;
  bottom: 10px;
  width: 333px;
}

.favourite-item-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.favourite-recipe-title-and-ingredients {
  display: flex;
  gap: 7px;
  align-items: center;
  margin-bottom: 0.5rem;
}

.favourite-recipe-title {
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
  justify-self: flex-start;
  text-align: left;
  line-height: 1;

}

.tracker-and-favourite-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.add-button {
  color: white;
  border-color: white;
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  gap: 4px;
}

.add-button:hover{
  background-color: transparent;
  border-color: #F5BB49;
  color: #F5BB49;
}

.remove-button {
  color: white;
  border-color: white;
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  gap: 4px;
}

.remove-button:hover{
  background-color: transparent;
  border-color: red;
  color: red;
}

.no-favourite-message-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 999px) {

  .favourite-item-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
  }
  
  .favourite-item-card {
    width: 350px;
  }
}

@media screen and (min-width: 1000px) {

  .favourite-item-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 15px 15px;
  }

}

