.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HOME */
.img-container {
  position: relative;
  height: 700px;
  background-image: url('./img/home-img-mobile.jpg');
  background-size:cover;
}

.img-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+0&0+0,0.85+86 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.85) 86%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.85) 86%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.85) 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#d9ffffff',GradientType=0 ); /* IE6-9 */

}

.header-img{
  width: 90%;
}

.home-contents-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 2rem;
  /* border: 3px solid #F0F; */
}

.home-text-wrapper {
  position: relative;
  margin-bottom: 1rem;
}
.home-text-wrapper span {
  font-weight: 800;
  
}
.home-btn{
  border: 1px solid black;
  width: 45%;
  font-size: small;
}
.home-btn:hover{
  border: 1px solid #F5BB49;

  color: #F5BB49;
}

.user-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* NAVBAR */
.nav-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F5BB49;
  /* border: 3px solid #F0F;  */
}

.navbar{
  background-color: #f0ad4e;
  /* border: 3px solid #F0F;  */
 
  
}


.logo{
  width: 180%;
}

.header-img{
  width: 100%;
}



.btn-wrapper button{
  /* border: 1px solid #f0f; */
  /* justify-content:flex-end; */
  margin-left: 10rem;
}

  /* FOOTER */
.footer-container{
  /* margin-top: 2rem; */
  background-color: #F5BB49;
  padding-top: 2rem;
}

.footer-container ul{
  list-style: none;
  
}




.lists-wrapper{
  display: none;
}



.sns-icons ul{
  display: flex;
  flex-direction: row;
  justify-content:center;

}

.sns-icons ul li{
  margin: 0 0.5rem;
  font-size: 2.5rem;
  

}

.sns-icons ul li:hover{
  cursor: pointer;
  color: white;

}
.copyright{
  padding-bottom: 2rem;
}

@media only screen and (min-width: 1024px) {
/* HOME */
.img-container {
  position: relative;
  height: 1200px;
  background-image: url('./img/home-img.jpg');
  background-size:cover;
}

.img-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+26,0+48 */
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(255,255,255,0) 48%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 26%,rgba(255,255,255,0) 48%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 26%,rgba(255,255,255,0) 48%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

}

.header-img{
  width: 90%;
}

.home-contents-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  /* top: 50%; */
  /* border: 1px solid #f0f; */
  width: 30%;
  margin-left: 3rem;
  bottom: 50%;
  
}

.home-btn-wrapper{
  /* border: 1px solid #f0f; */
  width: 50%;
}

/* NAVBAR */

.logo{
  width: 300px;
}

 

  .navbar-list-wrapper{

    width: 60%;
    margin-right: 5rem;
  }
  .navbar-list {
 
   display: flex;
   justify-content: center;
   margin: 0 auto!important;
   
  }

  /* FOOTER */
.footer-container{
  /* margin-top: 2rem; */
  background-color: #F5BB49;
  padding-top: 2rem;
 
}

.footer-container ul{
  list-style: none;
 
   
}



.footer-container ul, .footer-container li{
  margin: 0; padding: 0;
  
}

.lists-wrapper{
  display: flex;
  justify-content: space-around;

  padding-left: 3rem;
  
}

.link-list, .site-map, .contact{
text-align: center;

}






.sns-icons ul{
  display: flex;
  flex-direction: row;
  justify-content:center;

}

.sns-icons ul li{
  margin: 0 0.5rem;
  font-size: 2.5rem;
  

}

.sns-icons ul li:hover{
  cursor: pointer;
  color: white;

}
.copyright{
  padding-bottom: 2rem;
}
  
}
